/* -------------------------------- */
/* -------------------------------- */
/* ------------- CSS -------------- */
/* -------------------------------- */
/* -------------------------------- */

/**********************/
/******* GLOBAL *******/
/**********************/
* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1 {
    font-size: 1.2em;
    text-align: center;
}

h2 {
    font-size: 1em;
    width: 90%;
}

p {
    font-size: 0.7em;
    width: 90%;
}
/**********************/
/******* HEADER *******/
/**********************/

header {
    width: 100vw;
    height: 10vh;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
#imgNavLogo {
    width: 8vh;
    height: 8vh;
    object-fit: contain;
    border: 1px solid red;
    border-radius: 100%;
    margin-left: 5vw;
}
#svgNavDashBoard {
    width: 8vh;
    height: 8vh;
    margin-right: 4vw;
}

/***********************/
/*** SECTION - BOARD ***/
/***********************/
#sectionBoard {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.divSectionBoard {
    height: 25vh;
    width: 90vw;
    border-radius: 15px;
}
#divSectionBoardWelcom {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#divSectionBoardUnits {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
#divSectionBoardActu {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.divSectionBoardSingleUnit {
    width: 45%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#divLunchUnit {
    border: 1px solid rgb(206, 37, 222);
}
#divGreenSpaceUnit {
    border: 1px solid rgb(222, 99, 17);
}

/*************/
/* dashboard */
/*************/
#divSectionBoardDashBoard {
    height: 80vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.divSectionBoardDashBoardElements {
    width: 80%;
    height: 30%;
    border-radius: 15px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*************/
/*** LUNCH ***/
/*************/

#divSectionBoardLunch {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border: 1px solid pink;
}
.divUnitLunch {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#divMenu {
    width: 100%;
    height: 100%;
}
#ulDivMenuSectionBoardLunch,
#divContrat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.liUlDivMenuSectionBoardLunch,
.divContratSectionBoardContrat {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
    height: 10%;
    border-radius: 15px;
}
/**********************/
/******* FOOTER *******/
/**********************/
footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
}
.pFooter {
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}
