/* -------------------------------- */
/* -------------------------------- */
/* ------------- CSS -------------- */
/* -------------------------------- */
/* -------------------------------- */

/**********************/
/******* GLOBAL *******/
/**********************/
* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/**********************/
/******* HEADER *******/
/**********************/

header {
    width: 100vw;
    height: 15vh;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
#imgNavLogo {
    width: 12vh;
    height: 12vh;
    object-fit: contain;
    border: 1px solid red;
    border-radius: 100%;
    margin-left: 5vw;
}
#svgNavDashBoard {
    width: 12vh;
    height: 12vh;
    margin-right: 4vw;
}
