/* -------------------------------- */
/* -------------------------------- */
/* ------------- CSS -------------- */
/* -------------------------------- */
/* -------------------------------- */

/**********************/
/******* GLOBAL *******/
/**********************/
* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/**********************/
/******* HEADER *******/
/**********************/

header {
    width: 100vw;
    height: 10vh;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
#imgNavLogo {
    width: 8vh;
    height: 8vh;
    object-fit: contain;
    border: 1px solid red;
    border-radius: 100%;
    margin-left: 5vw;
}
#svgNavDashBoard {
    width: 8vh;
    height: 8vh;
    margin-right: 4vw;
}

/***********************/
/*** SECTION - BOARD ***/
/***********************/
#sectionBoard {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.divSectionBoard {
    height: 25vh;
    width: 90vw;
    border-radius: 15px;
}
#divSectionBoardWelcom {
    border: 1px solid red;
}
#divSectionBoardUnits {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}
#divSectionBoardActu {
    border: 1px solid blue;
}
.divSectionBoardSingleUnit {
    width: 45%;
    height: 100%;
    border-radius: 15px;
}
#divLunchUnit {
    border: 1px solid rgb(206, 37, 222);
}
#divGreenSpaceUnit {
    border: 1px solid rgb(222, 99, 17);
}

/*************/
/* dashboard */
/*************/
#divSectionBoardDashBoard {
    height: 60vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.divSectionBoardDashBoardElements {
    width: 45%;
    height: 30%;
    border-radius: 15px;
    border: 1px solid red;
}

/**********************/
/******* FOOTER *******/
/**********************/
footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}
.aFooter {
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}
