/* -------------------------------- */
/* -------------------------------- */
/* ------------- CSS -------------- */
/* -------------------------------- */
/* -------------------------------- */

/**********************/
/******* GLOBAL *******/
/**********************/
* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1 {
    font-size: 1.2em;
    text-align: center;
    color: white;
    margin: auto;
}

h2 {
    font-size: 1em;
    width: 90%;
    color: white;
}

p {
    font-size: 0.7em;
    width: 90%;
    color: #d9d9d9;
    margin: auto;
}
/**********************/
/******* HEADER *******/
/**********************/

header {
    width: 100vw;
    height: 10vh;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(40deg, #13301d 0%, #0b7a31 100%)
}
#imgNavLogo {
    width: 8vh;
    height: 8vh;
    object-fit: contain;
    background: white;
    border-radius: 100%;
    margin-left: 5vw;
}
#svgNavDashBoard {
    width: 8vh;
    height: 8vh;
    margin-right: 4vw;
    color: white;
    fill : white
}

/***********************/
/*** SECTION - BOARD ***/
/***********************/
#sectionBoard {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(135deg, #F5A86B 0%, #732814 100%);
}
.divSectionBoard {
    height: 25vh;
    width: 90vw;
    border-radius: 15px;
}
#divSectionBoardWelcom {
    background: #ff000021;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#divSectionBoardUnits {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
#divSectionBoardActu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.divSectionBoardSingleUnit {
    /* width: 45%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; */
    width: 45%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#divLunchUnit {
    background: linear-gradient(135deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff69;
}
#divGreenSpaceUnit {
    background: linear-gradient(135deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff69;
}
#divSectionBoardActu{
    background: linear-gradient(314deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff69;
    /* border: 1px solid #b1b1b1; */
}
#divSectionBoardDashBoard {
    height: 80vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.divSectionBoardDashBoardElements {
    width: 80%;
    height: 30%;
    border-radius: 15px;
    background: linear-gradient(180deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff69;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#divSectionBoardLunch {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}
.divUnitLunch {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff69;
}
#divMenu,
#divSectionBoardAllActu {
    width: 100%;
    height: 100%;
}
#ulDivMenuSectionBoardLunch,
#divContrat,
#divSectionBoardGreenSpace,
#uldivSectionBoardActu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.liUlDivMenuSectionBoardLunch,
.divContratSectionBoardContrat {
    background: linear-gradient(160deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff6e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
    border-radius: 15px;
    color: white;
}
.liUlDivMenuSectionBoardLunch{
    height: 10%;
}
.divContratSectionBoardContrat{
    height: 30%;
}

.liUldivSectionBoardActu {
    background: linear-gradient(160deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.5em 0px #ffffff6e;
    width: 90vw;
    height: 25vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.h2LiUlSectionBoardActu{
    margin: auto;
}
#uldivSectionBoardGreenSpace {
    width: 90vw;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}
.liUldivSectionBoardGreenSpace {
    background: linear-gradient(160deg, #1f5e2780 0%, #0e0e0e45 100%);
    width: 40%;
    height: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    padding: 10px;
}
.sectionBoardContact{
    height: 120vh!important;
}
#divSectionBoardContact {
    width: 90vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#formDivSectionBoardContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divInputFormContact, #divTextareaFormContact{
    width: 100%;
    text-align: center;
}
.inputFormContact,#textareaFormContact{
    width: 90%;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    background: linear-gradient(160deg, #1f5e2780 0%, #0e0e0e45 100%);
    box-shadow: 0 0 0.4em 0px #ffffff6e;
    border-radius: 10px;
    color: white;
}
.buttonFormContact{
width: 50%;
padding: 7px;
margin-bottom: 10px;
border: none;
background: linear-gradient(160deg, #1f5e2780 0%, #0e0e0e45 100%);
box-shadow: 0 0 0.4em 0px #ffffff6e;
border-radius: 10px;
color: white;
}
.inputFormContact::placeholder,
#textareaFormContact::placeholder {
    color: rgb(212, 212, 212);
}
.inputFormContact:focus,
#textareaFormContact:focus {
    outline: none;
    box-shadow: none;
    scale: 0.99;
}
#textareaFormContact{
    resize: none;
}
#map{
    width: 100%;
    border: none;
    border-radius: 15px;
}
#divSectionBoardMentionsLegales{
    background: #ff000021;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 90vw;
    height: 90%;
}
.pErrorInputFormContact {
    display: none;
    margin-bottom: 7px;
    color: white;
    font-weight: 900;
}
.divInputFormContact.error .pErrorInputFormContact {
    display: block;
}
.resizeDashBoard{
    height: 90vh!important;
}
/**********************/
/******* FOOTER *******/
/**********************/
footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    background: linear-gradient(200deg, #13301d 0%, #0b7a31 100%);
    text-align: center;
}
.pFooter {
    font-size: 0.5em;
    text-decoration: none;
}

/*********************/
/*********************/
/*********************/
/*********************/
.svgHomePage{
    width: 1.5em;
    height: 1.5em;
    fill : #00ab00;
}
#h2ActuSectionBoard{
    margin-bottom: 20px;
}
/*
#F5A86B = orange
#E87659 = orange 2 plus foncé
#2BA297 = vert moche
#274755 = vert bleu moche
#0b8f39 = vert
#086227 = vert plus foncé
background: linear-gradient(135deg, rgb(139 39 91) 0%, rgb(0 0 0) 50%, rgb(22 0 58) 100%);

background: linear-gradient(300deg, rgb(139 39 91 / 43%) 0%, rgb(120 120 120 / 4%) 50%, rgb(22 0 58 / 88%) 100%);
    
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM224 160a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm-8 64l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/>
</svg>