/* -------------------------------- */
/* -------------------------------- */
/* ------------- CSS -------------- */
/* -------------------------------- */
/* -------------------------------- */

/**********************/
/******* GLOBAL *******/
/**********************/
* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/**********************/
/******* HEADER *******/
/**********************/

header {
    width: 100vw;
    height: 10vh;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
#imgNavLogo {
    width: 8vh;
    height: 8vh;
    object-fit: contain;
    border: 1px solid red;
    border-radius: 100%;
    margin-left: 5vw;
}
#svgNavDashBoard {
    width: 8vh;
    height: 8vh;
    margin-right: 4vw;
}

/***********************/
/*** SECTION - BOARD ***/
/***********************/
#sectionBoard {
    width: 100vw;
    height: 90vh;
}
#divSectionBoardWelcom {
}
#divSectionBoardUnits {
}
#divSectionBoardActu {
}

/**********************/
/******* FOOTER *******/
/**********************/
footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}
.aFooter {
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}
